= render "/items/confirm-new-login-header"
%body
  .new__main
    .new__main--content
      .new__main--content-center
        %h2.new__single__head.registration 会員情報入力
        = form_with model: @profile, class:"sign-up__form", local: true do |f|
          = render "users/error_messages"
          .form-group
            %h3.chapter-sub-head 本人確認
            %p.l-single-text
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .form-group
            %div
              %label お名前(全角)
              %span.form-require 必須
            =f.text_field :family_name, placeholder: "例) 山田",class: 'input-default'
            =f.text_field :first_name, placeholder: "例) 太朗",class: 'input-default'
          .form-group
            %div
              %label お名前カナ(全角)
              %span.form-require 必須
            =f.text_field :first_name_kana, placeholder: "例) ヤマダ",class: 'input-default'
            =f.text_field :family_name_kana, placeholder: "例) ヤマダ",class: 'input-default'
          .form-group
            %label 生年月日
            %span.form-require 必須
            .birthday-select-wrap
              .select-wrap
                %i.icon-arrow-bottom
              = f.select :birth_year, [["--",0],["1921",1],["1922",2],["1923",3],["1924",4],["1925",5],["1926",6],["1927",7],["1928",8],["1929",9],["1930",10],["1931",11],["1932",12],["1933",13],["1934",14],["1935",15],["1936",16],["1937",17],["1938",18],["1939",19],["1940",20],["1941",21],["1942",22],["1943",23],["1944",24],["1945",25],["1946",26],["1947",27],["1948",28],["1949",29],["1950",30],["1951",31],["1952",32],["1953",33],["1954",34],["1955",35],["1956",36],["1957",37],["1958",38],["1959",39],["1960",40],["1961",41],["1962",42],["1963",43],["1964",44],["1965",45],["1966",46],["1967",47],["1968",48],["1969",49],["1970",50],["1971",51],["1972",52],["1973",53],["1974",54],["1975",55],["1976",56],["1977",57],["1978",58],["1979",59],["1980",60],["1981",61],["1982",62],["1983",63],["1984",64],["1985",65],["1986",66],["1987",67],["1988",68],["1989",69],["1990",70],["1991",71],["1992",72],["1993",73],["1994",74],["1995",75],["1996",76],["1997",77],["1998",78],["1999",79],["2000",80],["2001",81],["2002",82],["2003",83],["2004",84],["2005",85],["2006",86],["2007",87],["2008",88],["2009",89],["2010",90],["2011",91],["2012",92],["2013",93],["2014",94],["2015",95],["2016",96],["2017",97],["2018",98],["2019",99],["2020",100]],{},class: 'select-default'
              %span 年
              .select-wrap.select-wrap__month
                %i.icon-arrow-bottom
              = f.select :birth_month, [["--",0],["1",1],["2",2],["3",3],["4",4],["5",5],["6",6],["7",7],["8",8],["9",9],["10",10],["11",11],["12",12]],{},class: 'select-default'
              %span 月
              .select-wrap.select-wrap__day
                %i.icon-arrow-bottom
              = f.select :birth_day, [["--",0],["1",1],["2",2],["3",3],["4",4],["5",5],["6",6],["7",7],["8",8],["9",9],["10",10],["11",11],["12",12],["13",13],["14",14],["15",15],["16",16],["17",17],["18",18],["19",19],["20",20],["21",21],["22",22],["23",23],["24",24],["25",25],["26",26],["27",27],["28",28],["29",29],["30",30],["31",31]],{},class: 'select-default'
              %span 日
            .clearfix
          %p.form-info-text
            ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          = f.submit "次へ進む", class: 'btn-blue'
= render "/items/confirm-new-login-footer"