.mypage__main
  .main__contents
    .itemsEdit__pan
      = link_to root_path, class: "panLink" do
        トップページ
      %p#spacing >
      %p#spacing
        = "#{@name}さんのマイページ"
    .main__content__first
      .mypage__user__image
        = link_to "#" do
          %figure
            = image_tag 'material/icon/member_photo_noimage_thumb.png', alt: "user_noimage", width: "60px", height: "60px"
        %h2 
          = @name
        .mypage__user__number
          .mypage__user__number--left
            評価
            %span 1
          .mypage__user__number--right
            出品数
            %span 1
      .mypage__notification__todo
        %ul.mypage__tabs
          %li.choice__tab.on
            %h3
              お知らせ
          %li.choice__tab
            %h3
              やることリスト
        .mypage__tab__content
          %ul
            %li.mypage__main__list
              = image_tag 'material/logo/logo1.png', alt: 'logo', height: '25px', width: '25px', class: 'mypage__main__list__logo'
              = link_to "#", class: "list__link" do
                .mypage__main__list__text
                  事務局から個別メッセージ「《フリペイ始めてみませんか？》今なら最大P1,000もらえる」
              .icon__arrow--right
                = icon('fas', 'chevron-right', class: "arrow on")
            %li.mypage__main__list
              = image_tag 'material/logo/logo1.png', alt: 'logo', height: '25px', width: '25px', class: 'mypage__main__list__logo'
              = link_to "#", class: "list__link" do
                .mypage__main__list__text
                  《フリペイ登録でおトクなクーポンプレゼント》セブン−イレブン、ローソン、ファミリーマートで使える！
              .icon__arrow--right
                = icon('fas', 'chevron-right', class: "arrow on")
            %li.mypage__main__list
              = image_tag 'material/logo/logo1.png', alt: 'logo', height: '25px', width: '25px', class: 'mypage__main__list__logo'
              = link_to "#", class: "list__link" do
                .mypage__main__list__text
                  事務局から個別メッセージ「ログイン通知」
              .icon__arrow--right
                = icon('fas', 'chevron-right', class: "arrow on")
            %li.mypage__main__list
              = image_tag 'material/logo/logo1.png', alt: 'logo', height: '25px', width: '25px', class: 'mypage__main__list__logo'
              = link_to "#", class: "list__link" do
                .mypage__main__list__text
                  《フリマで買うならフリペイスマート払い》今ならP1,000もらえるキャンペーンも！
              .icon__arrow--right
                = icon('fas', 'chevron-right', class: "arrow on")
            %li.mypage__main__list
              = image_tag 'material/logo/logo1.png', alt: 'logo', height: '25px', width: '25px', class: 'mypage__main__list__logo'
              = link_to "#", class: "list__link" do
                .mypage__main__list__text
                  事務局から個別メッセージ「ログイン通知」
              .icon__arrow--right
                = icon('fas', 'chevron-right', class: "arrow on")
            %li.mypage__main__list--bottom
              = link_to "#", class: "list__link" do
                .maypage__main__list__index
                  一覧を見る
    .main__content__second
      %h2.mypage__tab__head 
        購入した商品
      %ul.mypage__tabs
        %li.choice__tab
          取引中
        %li.choice__tab.on
          過去の取引
      .mypage__tab__content
        %ul
          %li.mypage__main__list
            = image_tag 'material/pict/pict-reason-02.jpg', alt: 'logo', height: '25px', width: '25px', class: 'mypage__main__list__logo'
            = link_to "#", class: "list__link" do
              .mypage__main__list__text
                「HORI リアルアーケードPro V3 SA  アケコン」 を購入しました。
            .icon__arrow--right
              = icon('fas', 'chevron-right', class: "arrow on")
          %li.mypage__main__list
            = image_tag 'material/pict/pict-reason-02.jpg', alt: 'logo', height: '25px', width: '25px', class: 'mypage__main__list__logo'
            = link_to "#", class: "list__link" do
              .mypage__main__list__text
                「【新品未使用】アーバンリサーチUV&amp;ブルーライトカット眼鏡 smart8月号付録」 を購入しました。
            .icon__arrow--right
              = icon('fas', 'chevron-right', class: "arrow on")
          %li.mypage__main__list
            = image_tag 'material/pict/pict-reason-02.jpg', alt: 'logo', height: '25px', width: '25px', class: 'mypage__main__list__logo'
            = link_to "#", class: "list__link" do
              .mypage__main__list__text
                「天地を喰らう 1-4巻」 を購入しました。
            .icon__arrow--right
              = icon('fas', 'chevron-right', class: "arrow on")
          %li.mypage__main__list
            = image_tag 'material/pict/pict-reason-02.jpg', alt: 'logo', height: '25px', width: '25px', class: 'mypage__main__list__logo'
            = link_to "#", class: "list__link" do
              .mypage__main__list__text
                「ストリートファイターVチャンピオンエディションPS4」 を購入しました。
            .icon__arrow--right
              = icon('fas', 'chevron-right', class: "arrow on")
          %li.mypage__main__list--bottom
            = link_to "#", class: "list__link" do
              .maypage__main__list__index
                一覧を見る
  = render "mypage_side"