= render "/items/header"
.logout__main
  .main__contents
    .main__content__logout
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout__btn"
  = render "mypage_side"
= render "/items/footer"
= render "/items/purchaseBtn"
