.confirm-main
  .confirm-main__pan
    = link_to root_path, class: "panLink" do
      トップページ
    %p#spacing >
    = link_to item_path, class: "panLink" do
      %p#spacing
        = "商品の詳細"
    %p#spacing >
    %p#spacing
      = "商品の購入(#{@item.name})"
  .confirm
    .confirm__title
      .text
        購入内容の確認
    .confirm__item
      .content
        = image_tag @image, alt: "商品写真", class: "image"
        .detail
          .item-name
            = @item.name
          .item-price
            = "￥#{@item.price}（税込）送料込み"
    .confirm__price
      .content
        .text
          支払い金額
        .buy-price
          = "￥#{@item.price}"
      .user-point
        = check_box_tag :check1 
        = label_tag :check1, 'ポイントを使用（所持ポイント: P0）'
    .confirm__pay
      .content
        .text
          支払い方法
        - if @user.credit_card.present?
          .confirm-credit-show
            .contents
              .contents__main
                .card-info
                  .card-info__brand
                    = image_tag "credit_logo/#{@card_src}", class: "card_info__brand__img", alt: @card_brand
                  .card-info__content
                    .number
                      -# # Pay.jpから取得したカード番号の末尾４桁を取得
                      = "**** **** **** " + @customer_card.last4
                    .exp-date
                      .exp-date__title
                        有効期限
                      .exp-date__info
                        -# # showメソッドで定義した有効期限の年と月を取得
                        = @exp_month + " / " + @exp_year
        - else
          = link_to new_credit_card_path, class: "register-btn" do
            = icon('fas', 'plus-circle')
            登録してください
    .confirm__destination
      .send-title
        .text
          配送先
        = link_to "#", class: 'change-btn' do
          変更する
      .address
        = "〒#{@sending_destination.post_code}"
        %br
        %br
        = "#{@prefecture.name} #{@sending_destination.city} #{@sending_destination.house_number} #{@sending_destination.building_name}"
        %br
        %br
        = "#{@sending_destination.destination_first_name} #{@sending_destination.destination_family_name}"
    .confirm__buy
      .alert-text
        郵便局/コンビニ受取をご希望の方は、購入後に
        %b取引画面
        から受取場所を変更をすることが可能です。出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。
      = link_to pay_item_path(@item.id), method: :post, class: "purchase-btn" do
        購入する
