.footer-items
  .contents
    .content
      = link_to "#" do
        プライバシーポリシー
    .content
      = link_to "#" do
        フリマ利用規約
    .content
      = link_to "#" do
        特定商取引に関する表記
  .logo
    = link_to "#" do
      = image_tag "material/logo/logo-white.png", alt: "logo", class: "image"