%header.TP-header
  .TP-header__inner
    .TP-header__main
      = link_to "/items/" do
        = image_tag 'material/logo/logo.png', alt:'TopPageIcon', class: 'TP-header__main__icon'
      .TP-header__main__searchBox
        = form_with url: '#', class: 'TP-header__main__searchBox--form', local: true do |f|
          = f.text_field :text, placeholder: 'キーワードから探す', rows: '1', class: 'TP-header__main__searchBox--textfield'
          = f.submit class: 'TP-header__main__searchBox--button'
        = image_tag 'material/icon/icon-search 1.png', alt: 'SearchIcon', class: 'TP-header__main__searchBox--icon2'
    .TP-header__navi
      %ul.TP-header__navi__left
        %li
          = link_to '', class: 'TP-header__navi__left--links', id: 'TPcategoryBtn' do
            カテゴリー
        %li
          = link_to '', class: 'TP-header__navi__left--links', id: 'TPbrandBtm' do
            ブランド
      %ul.TP-header__navi__right
        %li
          -if current_user 
            = link_to logout_user_path(current_user), class: 'TP-header__navi__right--links' do
              ログアウト
          -else
            = link_to new_user_session_path, class: 'TP-header__navi__right--links' do
              ログイン
        %li
          -if current_user
            = link_to user_path(current_user), class: 'TP-header__navi__right--links' do
              マイページ
          -else
            = link_to new_user_registration_path, class: 'TP-header__navi__right--links' do
              新規会員登録