%header.TP-header
  .TP-header__inner
    .TP-header__main
      = link_to root_path do
        = image_tag 'material/logo/logo.png', alt:'TopPageIcon', class: 'TP-header__main__icon'
      .TP-header__main__searchBox
        = form_with url: items_searches_path, class: 'TP-header__main__searchBox--form', method: :get, local: true do |f|
          = f.text_field :keyword, placeholder: 'キーワードから探す', rows: '1', class: 'TP-header__main__searchBox--textfield'
          = f.submit value: "",class: 'TP-header__main__searchBox--button'
    .TP-header__navi
      %ul.TP-header__navi__left
        %li
          = link_to '', class: 'TP-header__navi__left--links', id: 'TPcategoryBtn' do
            カテゴリー
          .category_list
            %ul.parents_list
            %ul.children_list
            %ul.grand_children_list
        %li
          = link_to '', class: 'TP-header__navi__left--links', id: 'TPbrandBtm' do
            ブランド
      %ul.TP-header__navi__right
        %li
          -if current_user 
            = link_to logout_user_path(current_user), class: 'TP-header__navi__right--links' do
              ログアウト
          -else
            = link_to new_user_session_path, class: 'TP-header__navi__right--links' do
              ログイン
        %li
          -if current_user
            = link_to user_path(current_user), class: 'TP-header__navi__right--links' do
              マイページ
          -else
            = link_to new_user_registration_path, class: 'TP-header__navi__right--links' do
              新規会員登録