%main.itemsEdit
  .itemsEdit__pan
    = link_to root_path, class: "panLink" do
      トップページ
    %p#spacing >
    = link_to item_path, class: "panLink" do
      %p#spacing
        = "商品の詳細"
    %p#spacing >
    %p#spacing
      = "商品の編集(#{@item.name})"
  %section.itemsEdit__mainContainer
    .inner
      %h2.inner__head
        商品の情報を編集
    = form_with model:@item, local:true do |f|
      .error-message
        = render 'layouts/error_messages', model: f.object
      .edit-form
        .edit-form__photo
          %h3.edit-form__photo--head
            出品画像
            %span.edit-form__photo--must 必須
          %p.edit-form__photo--text 最大5枚までアップロードできます
          .edit-form__photo--upload
            //JSで挿入したhtmlと同じ形でeach文でのプレビュー表示
            - @item.item_imgs.each do |image|
              .preview-box
                .preview-box__upper
                  = image_tag image.url.url, width: "119", height: "112", alt: "preview", id: "arrangePhotoSize"
                .preview-box__lower
                  .preview-box__lower__btns
                    .preview-box__lower__btns--edit
                      .edit-btn
                        %span 編集                    
                    .preview-box__lower__btns--delete
                      .delete-btn
                        %span 削除
          .label-content
            //プレビューの数に合わせてforオプションを指定
            = f.label :"item_imgs_attributes_#{@item.item_imgs.length}_url", class: "label-box", id: "label-box--#{@item.item_imgs.length}" do
              %pre.label-box__text-visible 
                %i.fas.fa-camera
                  %p.fa-camera__text 
                    写真を追加
          .hidden-content
            = f.fields_for :item_imgs do |i|
              //プレビューが出ている分のfile_fieldとdelete用のチェックボックスを設置
              = i.file_field :url, class: "hidden-field"
              = i.check_box :_destroy, class: "hidden-checkbox"
              //5つのfile_fieldを準備するに当たって、足りない分を表示
            - @item.item_imgs.length.upto(4) do |i|
              %input{name: "item[item_imgs_attributes][#{i}][url]", id: "item_imgs_attributes_#{i}_url", class:"hidden-field", type:"file"}
              %input{name: "item[item_imgs_attributes][#{i}][destroy]", id: "item_imgs_attributes_#{i}__destroy", class:"hidden-checkbox", type:"checkbox"}
        .itemsEdit__container
          .container-display
            = f.label :商品名
            %span.edit-form__photo--must 必須
            %p
              = f.text_field :name, class: 'container-display__text', type: "text", placeholder: '40字まで', maxlength: "40"
          .container-display
            = f.label :商品の説明
            %span.edit-form__photo--must 必須
            %p
              = f.text_area :introduction, class: 'container-display__text', type: "text", placeholder: '商品の説明 （1000字以内で）', maxlength: "1000"
        .itemsEdit__container
          = link_to "#", class: "moreInfo" do
            商品の詳細
          .category
            .category__title
              .container-display
                = f.label :カテゴリー
                %span.edit-form__photo--must 必須
            .category__select
              = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name, {prompt: '--'}, {id: 'parent_category'}
          .container-category
            .category__title
              .container-display#lessPadding
                = f.label :カテゴリー
                %span.edit-form__photo--must 必須
            %p.container-display__text1#categoryBox 
              = "#{@item.category.parent.parent.name}"
              %span.edit-form__photo--must#changeCategory1 編集する
            %p.container-display__text2#categoryBox 
              = "#{@item.category.parent.name}"
              %span.edit-form__photo--must#changeCategory2 編集する
            %p
              = f.collection_select :category_id, Category.where(ancestry: @item.category.ancestry), :id, :name, {}, class: 'container-display__text3'
          .container-display
            = f.label :ブランド
            %p
              = f.text_field :brand, class: 'container-display__text', type: "text", placeholder: '例：75Beegies'
          .container-display
            = f.label :商品の状態
            %span.edit-form__photo--must 必須
            %p
              = f.select :item_condition_id, [["選択してください",0],["新品・未使用",1],["未使用に近い",2],["目立った傷や汚れなし",3],["やや傷や汚れあり",4],["傷や汚れあり",5],["全体的に状態が悪い",6]],{},class: 'container-display__text'
        .itemsEdit__container
          = link_to "#", class: "moreInfo" do
            配送について
          .container-display
            = f.label :配送料の負担
            %span.edit-form__photo--must 必須
            %p
              = f.select :postage_payer_id, [["選択してください",0],["送料込み(出品者負担)",1],["着払い(購入者負担)",2]],{},class: 'container-display__text'
          .container-display
            = f.label :発送元の地域
            %span.edit-form__photo--must 必須
            %p
              = f.select :prefecture_code, [["選択してください",0],["北海道",1],["青森県",2],["岩手県",3],["宮城県",4],["秋田県",5],["山形県",6],["福島県",7],["茨城県",8],["栃木県",9],["群馬県",10],["埼玉県",11],["千葉県",12],["東京都",13],["神奈川県",14],["新潟県",15],["富山県",16],["石川県",17],["福井県",18],["山梨県",19],["長野県",20],["岐阜県",21],["静岡県",22],["愛知県",23],["三重県",24],["滋賀県",25],["京都府",26],["大阪府",27],["兵庫県",28],["奈良県",29],["和歌山県",30],["鳥取県",31],["島根県",32],["岡山県",33],["広島県",34],["山口県",35],["徳島県",36],["香川県",37],["愛媛県",38],["高知県",39],["福岡県",40],["佐賀県",41],["長崎県",42],["熊本県",43],["大分県",44],["宮崎県",45],["鹿児島県",46],["沖縄県",47],["未定",48]],{},class: 'container-display__text'
          .container-display
            = f.label :発送までの日数
            %span.edit-form__photo--must 必須
            %p
              = f.select :preparation_day_id, [["選択してください",0],["1~2日で発送",1],["2~3日で発送",2],["4~7日で発送",3]],{},class: 'container-display__text'
        .itemsEdit__container
          = link_to "#", class: "moreInfo" do
            価格設定について
          .container-display
            = f.label :販売価格
            %span.edit-form__photo--must 必須
            %p
              = f.text_field :price, class: 'container-display__text--price', type: "text"
              %span#yen
                円
          .container-display
            .otherPrice
              .charge
                .charge__title
                  %p
                    販売手数料 10%
                .charge__value
                  %p
                    = "#{(@item.price * 0.1).floor}円"
              .charge#gain
                .charge__title
                  %p
                    販売利益
                .charge__value
                  %p#gainTotal
                    = "#{(@item.price * 0.9).floor}円"
        .itemsEdit__container
          .container-save
            = f.submit value: "編集内容を保存" ,class: "container-save__btn"
          .container-save
            = link_to "/items/#{@item.id}", class: "container-save__btn2" do
              戻る