
.items-new
  .items
    = form_with model:@item, local:true do |f|
      .error-message
        = render 'layouts/error_messages', model: f.object
      .items__picture
        .title
          出品画像
          %span 
            必須
          %p 
            最大5枚までアップロードできます
        .image-box
          .item-num-0#image-box__container
            = f.fields_for :item_imgs,@item.item_imgs do |i|
              .input-area
                = i.file_field :url, type: 'file', style: "display:none", id:"img-file"
            %label{for: "img-file"}
              %i.fas.fa-camera
      .items__name
        .name
          = f.label :商品名
          %span        
            必須
          %p
            = f.text_field :name, class: 'items__name__text', type: "text", placeholder: '40字まで', maxlength: "40"
        .detail
          = f.label :商品の説明
          %span
            必須
          %p
            = f.text_area :introduction, class: 'items__name__text', type: "text", placeholder: '商品の説明 （1000字以内で）', maxlength: "1000"
      .items__detail
        .title
          商品の詳細
        .category
          = f.label :カテゴリー
          %span
            必須
          %p
            = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name, prompt: "--", class: 'items__delivery__select'
        .brand
          = f.label :ブランド
          %p
            = f.text_field :brand, class: 'items__detail__select', type: "text", placeholder: '例：シャネル'
        .status
          = f.label :商品の状態
          %span
            必須
          %p

            = f.collection_select :item_condition_id, ItemCondition.all, :id, :name, prompt: "--", class: 'items__delivery__select'
      .items__delivery
        .title
          = link_to "#", class: "link" do
            配送について
        .fee
          = f.label :配送料の負担
          %span
            必須
          %p

            = f.collection_select :postage_payer_id, PostagePayer.all, :id, :name, prompt: "--", class: 'items__delivery__select'

        .area
          = f.label :発送元の地域
          %span
            必須
          %p
            = f.collection_select :prefecture_code, Prefecture.all, :id, :name, prompt: "--", class: 'items__delivery__select'
        .day
          = f.label :発送までの日数
          %span
            必須
          %p

            = f.collection_select :preparation_day_id, PreparationDay.all, :id, :name, prompt: "--", class: 'items__delivery__select'

      .items__price
        .title
          = link_to "#", class: "link" do
            価格設定について
        .price
          .price__title
            = f.label :販売価格
            %span
              必須
          .price__value
            = f.text_field :price, class: 'items__price__value', type: "text"
            %span
              円
       
      .items__exhibit
        .exibit-btn
          = f.submit "出品する",class: "submit-btn"
      .items__attention
        禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。