.items-show
  .show
    .title
      = "#{@item.name}"
    .detail
      .detail__picture
        = image_tag @item.item_imgs.find(@item.id).url.url, height: "200px", width: "250px", class: "camera-pic"
        -if @item.buyer_id.present? 
          .itemSold
            .itemSold__inner
              SOLD
      .detail__text
        %table
          %tr
            %td 出品者
            %td 
              = link_to "#", class: "link" do
                おいも
          %tr
            %td カテゴリー
            %td
              = link_to "#", class: "link" do
                インテリア・住まい・小物
          %tr
            %td ブランド
            %td シャネル
          %tr
            %td 商品の状態：
            %td 少し汚れあり
          %tr
            %td 配送料の負担
            %td 着払い(購入者負担)
          %tr
            %td 発送元の地域
            %td 東京都
          %tr
            %td 発送までの日数
            %td ４〜７日で発送
    .price
      .price__pay
        = "#{@item.price}円"
      .price__fee
        (税込)送料別
    .buy-btn
      -if user_signed_in? && current_user.id == @item.seller_id
        = link_to "#",class: "editBtn" do
          商品を編集
        = link_to "#",class: "deleteBtn" do
          商品を削除
      -else
        -if user_signed_in?
          = link_to confirm_item_url do
            %p.buyerBtn
              購入画面に進む
        -else 
          = link_to new_user_session_path do
            %p.buyerBtn
              購入画面に進む
    .explanation
      %p 
        = "#{@item.introduction}"
    -if user_signed_in? && current_user.id != @item.seller_id
      .evaluation
        .evaluation__good-btn
          = link_to "#",class: "evaluation-btn" do
            いいね！
        .evaluation__report-btn
          = link_to "#",class: "evaluation-btn" do
            不適切な商品の報告
        .evaluation__attention-btn
          = link_to "#",class: "attention-btn" do
            安心安全への取り組み
      .comment  
        = form_with url:"#", class:"comment__form" do |f|
          .attention
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          .text
            = f.text_area :detail, class: 'text', type: "text"
          .btn
            = link_to "#",class: "btn" do
              コメントする
    .contents
      = link_to "https://www.facebook.com/", class: "contents__btn contents__btn--facebook" do
        = icon('fab', 'facebook-square',  class: "contents__btn--icon")
      = link_to "https://twitter.com/", class: "contents__btn contents__btn--twitter" do
        = icon('fab', 'twitter', class: "contents__btn--icon")
      = link_to "https://www.instagram.com/", class: "contents__btn contents__btn--instagram" do
        = icon('fab', 'instagram', class: "contents__btn--icon")